:root {
    --white: #fff;
    --black: #000;
    --font-color-base: #666;
    --background-base: #cdd1c4;
    --font-color-dark: #212529;
    --font-color-light: #b0aebe;
    --font-color-link: #e77728;
    --footer: #34324b;
    --footer-base: #2e2b45;
    --contrast: rgba(223, 225, 226, 0.6);
    --success: #64ecf5;
    --danger: #ff8b8d;
    --grad-1: #6fc2d6;
    --grad-2: #6da7e6;

    --size-10: 0.625rem;
    --size-14: 0.875rem;
    --size-16: 1rem;
    --size-18: 1.125rem;
    --size-20: 1.25rem;
    --size-30: 1.875rem;
    --size-40: 2.5rem;
    --size-50: 3.125rem;
    --size-100: 6.25rem;
    --size-150: 9.375rem;
}
*,
::after,
::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.6;
    letter-spacing: 0;
    color: var(--font-color-base);
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    margin-top: 0;
}
h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}
img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-radius: none;
}
.container {
    width: 100%;
    padding: 32px 20px;
    margin: 4rem auto;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: var(--font-color-dark);
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid var(--grad-1);
    padding: 0.57rem 1rem;
    border-radius: 1.25rem;
    transition: ease-in-out 0.3s;
}
.btn-primary {
    background-color: #477ef7;
}
.btn-white {
    background-color: var(--white);
    color: var(--font-color-link);
}

@media (min-width: 760px) {
    .pricing-table,
    .testimonial-grid,
    .footer-bottom-wrapper,
    .question-contact-us {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    footer .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
