/* navbar */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 700;
    transition: ease-in-out 0.5s;
}
/* hiding nav button */
[aria-controls="navbarDropdown"] {
    display: none;
}
.navbar-nav {
    display: flex;
    align-items: center;
}
.navbar.sticky {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}
.nav-text.sticky-color {
    color: #fff;
}
.navbar-toggler span {
    pointer-events: none;
}
.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand {
    color: white;
}
.navbar .container {
    display: flex;
    align-items: center;
    height: 4rem;
    padding-left: var(--size-50);
    padding-right: 0;
}
.navbar-brand {
    margin-right: auto;
    font-size: 1.875rem;
    font-weight: 700;
    transition: ease-in-out 0.3s;
    color: white;
}
.navbar-brand img {
    width: var(--size-150);
}
.navbar-nav .nav-link {
    margin-right: 35px;
}
.navbar-nav .nav-link:nth-child(1) a {
    color: var(--font-color-link);
}
.navbar-nav .nav-link:nth-child(6) {
    margin-right: var(--size-50);
}
.navbar-nav .nav-link:nth-child(6) a {
    color: var(--white);
    display: flex;
    align-items: center;
    padding: var(--size-14);
}
.nav-link a {
    font-family: "Roboto Condensed", sans-serif;
    color: var(--font-color-base);
    font-size: 0.875rem;
    font-weight: 600;
    font-family: "Hind", sans-serif;
    text-transform: uppercase;
    line-height: 1.25rem;
    text-align: center;
    font-weight: 500;
}
/* header */
.bg-header {
    background-color: var(--background-base);
    background-position: 50% 20%;
    position: relative;
    padding: 2.6rem 0;
}
.bg-header {
    padding: var(--size-50) 0;
}
.bg-header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* empowering teams with the freedom */
.freedom {
    background-color: var(--background-base);
    position: relative;
    overflow: hidden;
}
.freedom-wrapper {
    display: flex;
    gap: 13rem;
    height: 26rem;
}
.freedom-imgs div {
    background-color: #666;
    padding: 1rem;
    border-radius: 50%;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.freedom-wrapper .block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 32rem;
}
.freedom-wrapper .block-text h2 {
    letter-spacing: 2px;
    font-weight: 700;
    color: var(--font-color-dark);
}
.freedom-wrapper .block-text p {
    font-size: var(--size-18);
}
.freedom-wrapper .freedom-imgs {
    position: relative;
    width: 100%;
    z-index: 100;
}
.animate__animated.animate__bounceInRight {
    animation-duration: 3s;
}
.freedom-wrapper .freedom-imgs div {
    background: var(--white);
    box-shadow: 0px 3px 9px rgb(0 0 0 / 18%);
}
.freedom-wrapper .freedom-imgs div:nth-child(1) {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
}
.freedom-wrapper .freedom-imgs div:nth-child(2) {
    position: absolute;
    top: 5.5rem;
    right: 15.5rem;
}
.freedom-wrapper .freedom-imgs div:nth-child(3) {
    position: absolute;
    bottom: 0.6rem;
    right: 2rem;
}
.freedom-wrapper .freedom-imgs div:nth-child(4) {
    position: absolute;
    width: 3.5rem;
    padding: 0.7rem;
    bottom: 2rem;
    right: 18rem;
}
.freedom-wrapper .freedom-imgs div:nth-child(5) {
    position: absolute;
    width: 3.5rem;
    padding: 0.7rem;
    top: 0.6rem;
    left: 1rem;
}
.freedom-wrapper .freedom-imgs div:nth-child(6) {
    position: absolute;
    top: 14rem;
    left: 1rem;
}
.freedom-wrapper .freedom-imgs div:nth-child(7) {
    position: absolute;
    top: 13rem;
    right: 7rem;
}
.freedom-imgs img {
    width: var(--size-40);
}
.freedom-btn a:nth-child(1) {
    color: var(--white);
    margin-right: var(--size-16);
    height: 100%;
}
.learn-more {
    color: var(--font-color-link);
}
.white-bg {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 25rem;
    bottom: -19rem;
    left: 5rem;
    transform: rotate(-10deg);
}
/* key benefits */
.key-benefits {
    padding-right: var(--size-50);
    padding: var(--size-150) 0 var(--size-50);
}
.key-benefits,
.key-benefits-wrapper {
    text-align: center;
}
.key-benefits h2 {
    line-height: 0.2;
    font-weight: 700;
    color: var(--font-color-dark);
}
.container .key-benefits-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.7rem;
    text-align: left;
    padding: var(--size-50) 0 0 0;
    padding-left: 0;
    padding-right: 0;
}
.key-benefit-card {
    border-radius: 8px;
    background: var(--white);
    box-shadow: 0px 3px 16px rgb(0 0 0 / 10%);
    padding: var(--size-20);
    width: 16.5rem;
}
.key-benefit-card img {
    width: var(--size-50);
}
/* software for people */
.software-for-people {
    background-color: #f7f9fd;
    height: 30rem;
    padding-right: 0;
    margin: var(--size-100) auto;
}
.software-for-people-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    gap: var(--size-20);
}
.software-for-people-wrapper .block-text {
    width: 29rem;
    color: var(--font-color-dark);
    padding-bottom: var(--size-150);
}
.software-for-people-wrapper a {
    color: var(--white);
}
/* why-front */
.why-front {
    margin: var(--size-100) 0;
}
.why-front-wrapper {
    text-align: center;
}
.why-front-wrapper h2 {
    margin: var(--size-10);
    color: var(--font-color-dark);
}
.why-front-wrapper p {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}
.options {
    display: flex;
    justify-content: center;
    margin: var(--size-50) 0;
}
.why-front-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why-front-options > div .first {
    background-color: #edf2fe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}
.why-front-options > div > div .second {
    background-color: #5387f7;
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 50%;
}
.why-front-options span {
    color: var(--font-color-dark);
    font-weight: 600;
    margin-top: var(--size-14);
}
.options hr {
    height: 3px;
    width: 150px;
    margin: 22px var(--size-10) 0;
    background-color: #eeeff5;
    border: none;
}
.options .hr {
    margin-left: -20px;
}
.why-front-video {
    position: relative;
}
.play-btn {
    background: var(--white);
    box-shadow: 0px 3px 9px rgb(0 0 0 / 18%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    top: 50%;
    left: 50%;
}
